<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>404</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/404.css">
</head>
<body>
    <header>
        <div class="container col colhead">
            <nav>
                <img src="../../static/images_videos/logo_1_test.png" alt="Logo">
                <ul class="menu-bar">
                    <li><a href="default.html" class="menu"> Accueil</a></li>
                    <li><a href="qui_sommes_nous.html" class="menu"> Qui sommes-nous</a></li>
                    <li><a href="expertise.html" class="menu"> Notre Expertise</a></li>
                    <li><a href="actualites.html" class="menu"> Actualités</a></li>
                    <li><a href="nakama.html" class="menu"> Nakama</a></li>
                    <li><a href="contact.html" class="menu"> Contacts</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-sm-8 col mycol">
                <h1>404 Not Found </h1>
                <h2>Vous seriez-vous perdu ?</h2>
            </div>
        </div>
    </div>

    <footer class="box end">
        <div class="mycontainer">
            <div class="row">
                <div class=" cont-item col">
                    <nav>
                        <ul>
                            <li><a class="foot" href="default.html"> Accueil</a></li>
                            <li><a class="foot" href="qui_sommes_nous.html"> Qui sommes-nous</a></li>
                            <li><a class="foot" href="expertise.html"> Notre Expertise</a></li>
                            <li><a class="foot" href="actualites.html"> Actualités</a></li>
                            <li><a class="foot" href="nakama.html"> Nakama</a></li>
                            <li><a class="foot" href="contact.html"> Contacts</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="cont-item col">
                    <nav>
                        <ul>
                            <li><a class="foot" href="404.html"> Mention légal</a></li>
                            <li><a class="foot" href="404.html"> Gérer vos cookies</a></li>
                            <li><a class="foot" href="404.html"> Politique relative aux données personnel</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>