<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Actualités</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="actualites.css">
</head>
<body>

    <header>
        <div class="container col colhead">
            <nav>
                <img src="../../static/images_videos/logo_1_test.png" alt="Logo">
                <ul class="menu-bar">
                    <li><a href="default.html" class="menu"> Accueil</a></li>
                    <li><a href="qui_sommes_nous.html" class="menu"> Qui sommes-nous</a></li>
                    <li><a href="Expertise.html" class="menu"> Notre Expertise</a></li>
                    <li><a href="actualites.html" class="menu"> Actualités</a></li>
                    <li><a href="nakama.html" class="menu"> Nakama</a></li>
                    <li><a href="contact.html" class="menu"> Contacts</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container-fluid">
        <h2> News</h2>
        <div class="row justify-content-md-center">
            <div class="col-sm-3 col-lg-3 col">
                <div class="blocks">
                    <div class="imag">
                        <img usemap="#marathon" src="../../static/images_videos/marathon2.png" alt="marathon" width="300">
                        <map name="marathon">
                            <area href="marathon.html" shape="rect" coords="0,0 300,300">
                        </map>
                    </div>
                    <div class="desc">
                        <h5> Marathon MicroRun  </h5>
                        <p> Venez profiter du beau temps en cette saison estival et venez courrir avec nous au marathon Microrun de 15km.</p>
                        <p><a href="marathon.html"> En savoir plus</a> </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3 col">
                <div class="blocks">
                    <div class="imag">
                        <img usemap="#smash" src="../../static/images_videos/smash1.png" alt="Smash" width="300">
                        <map name="smash">
                            <area href="smash.html" shape="rect" coords="0,0 300,300">
                        </map>
                    </div>
                    <div class="desc">
                        <h5> MicroSmash Tournament</h5>
                        <p> Vous voulez ECLATER vos collègues et surtout votre supérieur hierarchique, ça tombe à pic participez au tournois Smash ultimate.</p>
                        <p><a href="smash.html"> En savoir plus</a> </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3 col">
                <div class="blocks">
                    <div class="imag">
                        <img usemap="#chess" src="../../static/images_videos/chess4.png" alt="chess" width="300">
                        <map name="chess">
                            <area href="chess.html" shape="rect" coords="0,0 300,300">
                        </map>
                    </div>
                    <div class="desc">
                        <h5> MicroChess </h5>
                        <p> Initiation au echecs, petits cours pour apprendres les bases des echecs et faires quelques parties. </p>
                        <p><a href="chess.html"> En savoir plus</a> </p>
                    </div>
                </div>
            </div>
        </div>
        <h2> Articles</h2>
        <div class="row justify-content-md-center">
            <div class="col-sm-3 col-lg-3 col" >
                <div class="blocks">
                    <div class="imag">
                        <img usemap="#art1" src="../../static/images_videos/article_deep4.png" alt="article1" width="300">
                        <map name="art1">
                            <area href="article1.html" shape="rect" coords="0,0 300,300">
                        </map>
                    </div>
                    <div class="desc">
                        <h5> Le deep learning explore l'espace</h5>
                        <p> Le deep learning utilisé pour aider les chercheurs à mieux observer et comprendre l’Univers</p>
                        <p><a href="article1.html"> En savoir plus</a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-lg-3 col">
                <div class="blocks">
                    <div class="imag">
                        <img usemap="#art2" src="../../static/images_videos/article_deep5.png" alt="Erwin" width="300">
                        <map name="art2">
                            <area href="article2.html" shape="rect" coords="0,0 300,300">
                        </map>
                    </div>
                    <div class="desc">
                        <h5> La NLP, une technologie pas gratuite</h5>
                        <p> Avec l'avancé du deep learning, la NLP devient de plus en plus chère.</p>
                        <p> <a href="article2.html"> En savoir plus</a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-lg-3 col">
                <div class="blocks">
                    <div class="imag">
                        <img usemap="#big" src="../../static/images_videos/article_big.png" alt="Gin" width="300">
                        <map name="big">
                            <area href="article3.html" shape="rect" coords="0,0 300,300">
                        </map>
                    </div>
                    <div class="desc">
                        <h5> L'impact du Big Data </h5>
                        <p> Big Data : son impact sur nos choix et nos comportements</p>
                        <p><a href="article3.html"> En savoir plus</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="box end">
        <div class="mycontainer">
            <div class="row">
                <div class="coltext col">
                    <nav>
                        <ul>
                            <li><a class="foot" href="default.html"> Accueil</a></li>
                            <li><a class="foot" href="qui_sommes_nous.html"> Qui sommes-nous</a></li>
                            <li><a class="foot" href="Expertise.html"> Notre Expertise</a></li>
                            <li><a class="foot" href="actualites.html"> Actualités</a></li>
                            <li><a class="foot" href="nakama.html"> Nakama</a></li>
                            <li><a class="foot" href="contact.html"> Contacts</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="coltext col">
                    <nav>
                        <ul>
                            <li><a class="foot" href=""> Mention légal</a></li>
                            <li><a class="foot" href=""> Gérer vos cookies</a></li>
                            <li><a class="foot" href=""> Politique relative aux données personnel</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>