<!DOCTYPE html>

<html lang="fr" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Contacts</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>
<body>
    <div>
        <nav>
            <ul class="menu-bar">
                <li><a href=""> Accueil</a></li>
                <li><a href=""> Qui sommes-nous</a></li>
                <li><a href=""> Carrière</a></li>
                <li><a href=""> Rejoignez-nous</a></li>
                <li><a href=""> Actualités</a></li>
                <li><a href=""> Nakama</a></li>
                <li><a href=""> Contacts</a></li>
            </ul>
        </nav>
    </div>


    <header class="box first">
        <img id="logo" src="../static/images_videos/logo1_test.png" alt="Logo">

    </header>
</body>
</html>