<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Contact</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="contact.css">
</head>
<body>

    <header>
        <div class="container colhead">
            <nav>
                <img src="../../static/images_videos/logo_1_test.png" alt="Logo">
                <ul class="menu-bar">
                    <li><a href="default.html" class="menu"> Accueil</a></li>
                    <li><a href="qui_sommes_nous.html" class="menu"> Qui sommes-nous</a></li>
                    <li><a href="Expertise.html" class="menu"> Notre Expertise</a></li>
                    <li><a href="actualites.html" class="menu"> Actualités</a></li>
                    <li><a href="nakama.html" class="menu"> Nakama</a></li>
                    <li><a href="contact.html" class="menu"> Contacts</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <div class="container-fluid">

        <div class="row justify-content-center">
            <div class="col-lg-5 col-sm-5 col thetop middle">
                <div class="imag">
                    <img src="../../static/images_videos/france2_.png" alt="Place pour l'API google maps avec la localisation de nos implémentations" width="300">
                </div>
            </div>
            <div class="col-lg-5 col-sm-5 col coltext thetop middle">
                <p> Baratin liée à nos implémentation que l'on retrouve sur la carte ci-contre.
                Par exemple, le centre de Paris à été mis en place en premier en 20XX, c'est aussi le siège social de la société.
                Le centre de Bordeaux travaille essentiellement dans le secteur aéronautique et compte actuellement une quarantaine de collaborateur.
                Le centre de Strasbourg .....
                Le centre de Lyon .....
                Le centre de Marseille .....</p>
            </div>

        </div>

        <div class="row justify-content-center">
            <div class="col-lg-10 col-sm-10 col coltext middle">
                <p>
                    Vous voulez rejoindre une entreprise engagé et dynamique ? Vous voulez donner un nouveau sens à votre vie ?
                    Vous voulez une autre question réthorique débile pour vous dire de nous écrire dans le paragraphe ci-dessous ?
                </p>
            </div>


        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5 col-sm-5 col middle">
                <input type="text" class="form-control" placeholder="Prenom" aria-label="Prenom*">
            </div>
            <div class="col-lg-5 col-sm-5 col middle">
                <input type="text" class="form-control" placeholder="Nom" aria-label="Nom*">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5 col-sm-5 col middle">
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email" aria-label="Email*">
            </div>
            <div class="col-lg-5 col-sm-5 col middle">
                <input type="tel" class="form-control" placeholder="Téléphone" aria-label="Téléphone">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10 col-sm-10 col middle">
                <div class="mb-3">
                    <label for="formFile" class="form-label inp">CV</label>
                    <input class="form-control" type="file" id="formFile">
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10 col-sm-10 col middle">
                <div class="form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message" aria-label="Message"></textarea>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-7 col-sm-7 col middle thebottom">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label inp" for="flexCheckDefault">
                        Acceptez les conditions générales pour qu'on puisse utiliser vos données et être clean au niveau de la loi
                        (De toute façon vous êtes obligés pour nous contacter).
                    </label>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col middle thebottom">
                <input class="btn btn-primary" type="submit" value="Envoyé">
            </div>
        </div>

    </div>


    <footer class="box end">
        <div class="mycontainer">
            <div class="row">
                <div class="coltext col">
                    <nav>
                        <ul>
                            <li><a class="foot" href="default.html"> Accueil</a></li>
                            <li><a class="foot" href="qui_sommes_nous.html"> Qui sommes-nous</a></li>
                            <li><a class="foot" href="Expertise.html"> Notre Expertise</a></li>
                            <li><a class="foot" href="actualites.html"> Actualités</a></li>
                            <li><a class="foot" href="nakama.html"> Nakama</a></li>
                            <li><a class="foot" href="contact.html"> Contacts</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="coltext col">
                    <nav>
                        <ul>
                            <li><a class="foot" href=""> Mention légal</a></li>
                            <li><a class="foot" href=""> Gérer vos cookies</a></li>
                            <li><a class="foot" href=""> Politique relative aux données personnel</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </footer>


</body>
</html>