<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Microshop</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<link rel="stylesheet" href="../../static/css/test.css">
</head>
<body>

	<div>
		<nav>
			<ul class="menu-bar">
				<li><a href=""> Accueil</a></li>
				<li><a href=""> Qui sommes-nous</a></li>
				<li><a href=""> Carrière</a></li>
				<li><a href=""> Rejoignez-nous</a></li>
				<li><a href=""> Actualités</a></li>
				<li><a href=""> Nakama</a></li>
				<li><a href="Contact.html"> Contacts</a></li>
			</ul>
		</nav>
	</div>


    <header class="box first">
         <img id="logo" src="../../static/images_videos/logo1_test.png" alt="Logo"> 

    </header>
<!--
	<div class="tt">
		<div class="menu-bar">
		
		<p> ezfb eravd ervtrvfd<br> revrevdaqs <br>rezvrzre <br>vrevrzv reverzv </p>
		
		</div>
	
	</div>
-->

	<section class="box prio">
	
	<div class="container">
		<div class="cont-item col1">
			<div id="elem1" class="imag">
				<img src="../../static/images_videos/taff.jpg" alt="image_taff" width="400">		
			</div>		
			<div id = "elem2">
				<p class="intro" > Vous êtes sur le site de l'entreprise <strong>FICTIVE</strong> <strong>Microshop</strong>.
				Cette entreprise n'as pour le moment aucun but si ce n'est parler de nous.
				Il est née d'une blague entre amis. Vous retrouverez sur ce site ce qu'il peut y avoir
				sur un site d'entreprise classique, même si je me suis laissé la liberté de mettre quelques extravagances.
				Je n'ai pas un niveau exceptionnel en html/css et ne compte pas en avoir un. Ce site ne sera donc
				clairement pas ce qui se fait de mieux. J'espère ela dit que vous l'apprécirez tout de même
				et que vous pourrez apprendre à mieux nous connaitre à travers celui-ci. Je vous souhaite une bonne visite.</p>
			</div>

			<div id="elem1" class="imag">
				<img src="../../static/images_videos/taff4.jpg" alt="image_taff" width="400">		
			</div>
			
		</div>
		
		<div class="cont-item col2">
		
	
			<div id="elem1">
				<p class="intro" > Vous êtes sur le site de l'entreprise <strong>FICTIVE</strong> <strong>Microshop</strong>.
				Cette entreprise n'as pour le moment aucun but si ce n'est parler de nous.
				Il est née d'une blague entre amis. Vous retrouverez sur ce site ce qu'il peut y avoir
				sur un site d'entreprise classique, même si je me suis laissé la liberté de mettre quelques extravagances.
				Je n'ai pas un niveau exceptionnel en html/css et ne compte pas en avoir un. Ce site ne sera donc
				clairement pas ce qui se fait de mieux. J'espère ela dit que vous l'apprécirez tout de même
				et que vous pourrez apprendre à mieux nous connaitre à travers celui-ci. Je vous souhaite une bonne visite.</p>
			</div>
			
			<div id="elem2" class="imag">
				<img src="../../static/images_videos/la_motivation.jpg" alt="image_taff" width="400">		
			</div>

			<div id="elem1">
				<p class="intro" > Vous êtes sur le site de l'entreprise <strong>FICTIVE</strong> <strong>Microshop</strong>.
				Cette entreprise n'as pour le moment aucun but si ce n'est parler de nous.
				Il est née d'une blague entre amis. Vous retrouverez sur ce site ce qu'il peut y avoir
				sur un site d'entreprise classique, même si je me suis laissé la liberté de mettre quelques extravagances.
				Je n'ai pas un niveau exceptionnel en html/css et ne compte pas en avoir un. Ce site ne sera donc
				clairement pas ce qui se fait de mieux. J'espère ela dit que vous l'apprécirez tout de même
				et que vous pourrez apprendre à mieux nous connaitre à travers celui-ci. Je vous souhaite une bonne visite.</p>
			</div>

			
		</div>

		
	</div>
	
	

		

	</section>
	
	
	<aside class="box side">
		<div id="side_">
			<p class="intro">
				Vous êtes sur le site de l'entreprise <strong>FICTIVE</strong> <strong>Microshop</strong>.
				Cette entreprise n'as pour le moment aucun but si ce n'est parler de nous.
				Il est née d'une blague entre amis. Vous retrouverez sur ce site ce qu'il peut y avoir
				sur un site d'entreprise classique, même si je me suis laissé la liberté de mettre quelques extravagances.
				Je n'ai pas un niveau exceptionnel en html/css et ne compte pas en avoir un. Ce site ne sera donc
				clairement pas ce qui se fait de mieux. J'espère ela dit que vous l'apprécirez tout de même
				et que vous pourrez apprendre à mieux nous connaitre à travers celui-ci. Je vous souhaite une bonne visite.
			</p>

			<button type="button" class="btn btn-light">Light</button>

			<div class="imag">
				<img src="../../static/images_videos/taff4.jpg" alt="image_taff" width="400">

			</div>

		</div>	
		
	</aside>
	
	<footer class = "box end">
		<div class="container">
			<div class="cont-item">
				<nav>
					<ul>
						<li><a href=""> Accueil</a></li>
						<li><a href=""> Qui sommes-nous</a></li>
						<li><a href=""> Carrière</a></li>
						<li><a href=""> Rejoignez-nous</a></li>
						<li><a href=""> Actualités</a></li>
						<li><a href=""> Nakama</a></li>
						<li><a href=""> Contacts</a></li>
					</ul>
				</nav>
			</div>
			
			<div class="cont-item">
				<nav>
					<ul>
						<li><a href=""> Mention légal</a></li>
						<li><a href=""> Gérer vos cookies</a></li>
						<li><a href=""> Politique relative aux données personnel</a></li>
					</ul>
				</nav>
			</div>
		</div>	
	
	
	</footer>
	
</body>
</html>