<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>modele_box_av</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="default_css.css">
</head>
<body>

	<header>
		<div class="container ">
			<nav>
				<img src="../../static/images_videos/logo_1_test.png" alt="Logo">
				<ul class="menu-bar">
					<li><a href="default.html" class="menu"> Accueil</a></li>
					<li><a href="qui_sommes_nous.html" class="menu"> Qui sommes-nous</a></li>
					<li><a href="Expertise.html" class="menu"> Notre Expertise</a></li>
					<li><a href="actualites.html" class="menu"> Actualités</a></li>
					<li><a href="nakama.html" class="menu"> Nakama</a></li>
					<li><a href="contact.html" class="menu"> Contacts</a></li>
				</ul>
			</nav>
		</div>
	</header>


	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6 col-lg-4 col coltext">
				<div class="imag">
					<img src="../../static/images_videos/taff.jpg" alt="image_taff" width="350" >
				</div>
			</div>
			<div class="col-sm-6  col-lg-8 col coltext">
				<p class="intro">
				Vous êtes sur le site de l'entreprise <strong>FICTIVE</strong> <strong>Microshop</strong>.
				Cette entreprise n'as pour le moment aucun but si ce n'est parler de nous.
				Il est née d'une blague entre amis. Vous retrouverez sur ce site ce qu'il peut y avoir
				sur un site d'entreprise classique, même si je me suis laissé la liberté de mettre quelques extravagances (souvent détourné de manière ironique et satirique).
				Je n'ai pas un niveau exceptionnel en html/css et ne compte pas en avoir un. Ce site ne sera donc
				clairement pas ce qui se fait de mieux. J'espère cela dit que vous l'apprécirez tout de même
				et que vous pourrez apprendre à mieux nous connaitre à travers celui-ci. Je vous souhaite une bonne visite.</p>
			</div>

		</div>
		<div class="row">

			<div class="col-sm-6  col-lg-8 col coltext">
				<p class="intro">
					Comme sur tout les sites d'entreprise qui se respect, on va avoir quelques phrases un peu pompeuses avec
					une pointe de philosophie sur l'activité ou le secteur d'activité de l'entreprise. Notre secteur d'activité
					étant la statistique et la data, nous aurons des phrases tel que:
				</p>

                <p class="cita">"L'important n'est pas la data, mais la manière dont celle-ci est utilisée/valorisée."</p>
                <p class="cita">"La data est omniprésente mais ceux qui l'utiliseront aux mieux sont ceux qui sauront la rendre intelligible et intelligente."</p>
                <p class="cita">"La data est le nouvel or noir du XXI<sup>ème</sup> siècle."</p>

			</div>

			<div class="col-sm-6  col-lg-4 col coltext">
				<div class="imag">
                    <img src="../../static/images_videos/taff4.jpg" alt="image_taff" width="450">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6 col-lg-4 col coltext">
				<div class="imag">
					<img src="../../static/images_videos/la_motivation.jpg" alt="image_taff" width="450">
				</div>
			</div>
			<div class="col-sm-6  col-lg-8 col coltext">
				<p class="intro">
					Contrairement à beaucoup des sites d'entreprise nous avons choisi des background unis ou en dégradé plutot sombre
					et pas des backgrounds blanc avec des gens joyeux et souriant au dents bien blanche en train de travailler.
					On retrouvera tout de même les fameuses illustrations surfaites donnant l'idée d'une entreprise innovante, tourné vers le futur
					(typiquement un doigt robotique qui clique sur un écran avec des petites points reliés par des traits sur ce doigt).
					Nous avons choisit dans un premier temps un style très classique pour ce site à contrario de rectangle superposé que l'on peut voir maintenant un peu partout.
					Par ailleurs, on évitera au maximum le franglais très commercial donnant cette impression d'entreprise à l'internationnal.
				</p>
			</div>
		</div>
	</div>




	<aside class="box side">
		<div id="side_">
			<p class="intro">
				Vous êtes sur le site de l'entreprise <strong>FICTIVE</strong> <strong>Microshop</strong>.
				Cette entreprise n'as pour le moment aucun but si ce n'est parler de nous.
				Il est née d'une blague entre amis. Vous retrouverez sur ce site ce qu'il peut y avoir
				sur un site d'entreprise classique, même si je me suis laissé la liberté de mettre quelques extravagances.
				Je n'ai pas un niveau exceptionnel en html/css et ne compte pas en avoir un. Ce site ne sera donc
				clairement pas ce qui se fait de mieux. J'espère ela dit que vous l'apprécirez tout de même
				et que vous pourrez apprendre à mieux nous connaitre à travers celui-ci. Je vous souhaite une bonne visite.
			</p>

			<div class="imag">
				<img src="../../static/images_videos/taff4.jpg" alt="image_taff" width="400">
			</div>

		</div>

	</aside>

	<footer class="box end">
		<div class="mycontainer">
			<div class="row">
				<div class="cont-item col">
					<nav>
						<ul>
							<li><a class = "foot" href="default.html"> Accueil</a></li>
							<li><a class = "foot" href="qui_sommes_nous.html"> Qui sommes-nous</a></li>
							<li><a class="foot" href="Expertise.html"> Notre Expertise</a></li>
							<li><a class = "foot" href="actualites.html"> Actualités</a></li>
							<li><a class = "foot" href="nakama.html"> Nakama</a></li>
							<li><a class = "foot" href="contact.html"> Contacts</a></li>
						</ul>
					</nav>
				</div>

				<div class="cont-item col">
					<nav>
						<ul>
							<li><a class = "foot" href=""> Mention légal</a></li>
							<li><a class = "foot" href=""> Gérer vos cookies</a></li>
							<li><a class = "foot" href=""> Politique relative aux données personnel</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</footer>


</body>
</html>