<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Notre Expertise</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/expertise.css">
</head>
<body>
    <header>
        <div class="container col colhead">
            <nav>
                <img src="../../static/images_videos/logo_1_test.png" alt="Logo">
                <ul class="menu-bar">
                    <li><a href="default.html" class="menu"> Accueil</a></li>
                    <li><a href="qui_sommes_nous.html" class="menu"> Qui sommes-nous</a></li>
                    <li><a href="expertise.html" class="menu"> Notre Expertise</a></li>
                    <li><a href="actualites.html" class="menu"> Actualités</a></li>
                    <li><a href="nakama.html" class="menu"> Nakama</a></li>
                    <li><a href="contact.html" class="menu"> Contacts</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-sm-12 col-lg-12 col mycol expertise">
                <div class="exp">
                    <h2 class="title">Expertise </h2>
                    <p>
                        Comme vous avez déjà du le comprendre Microshop est une ESN spécialisé dans le domaine de la data.
                        Notre expertise se porte sur tout les aspects de la data, de sa récupération à son utilisation final. 
                        Microshop se positionne comme un fort partenaire de ses clients en les accompagnants dans la valorisation
                        et l'utilisation de leurs données. Microshop concilie  pilotage, conseil, qualité de services et innovation au service de ses clients.


                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-sm-3 col-lg-3 col big mycol">
                <h3 class="title">Big Data </h3>
                <div class="text_expert">
                    <!-- Ici ce n'est que temporaire dans l'idée une fois que du javascript
                        sera rajouté un nouveau fond viendrai avec le texte lorsque l'on passe la souris sur les 4 expertises
                    -->
                    <p>
                        Aujourd'hui la masse de données est de plus en plus volumineuse, c'est pourquoi les technologies du Big Data 
                        devienne essentielle. Microshop propose toute une gamme d'expertise permettant de faire face à ce challenge.
                        Notamment la mise en place et l'alimentation en données (interne, externe,publique, web) de data warehouse et data lake
                        ou encore le mapping et monitoring des données. 

                    </p>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3 col science mycol">
                <h3 class="title">Data Science </h3>
                <div class="text_expert">
                    <p>
                        L'exploitation des données est bien évidemment un service dans lequel nous excellons et pour lequel nous proposons
                        une grande gamme d'expertises. Cela peut être  du data cleaning, de la segmentation, de la prédiction, de la céation de modèle
                        , de la data visualisation, du data minig plus généralement, du ciblage/profilage, ou encore du deep learning...

                    </p>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3 col business mycol">
                <h3 class="title">Business Intelligence </h3>
                <div class="text_expert">
                    <p>
                        Nous proposons aussi toute une expertise basée d'avantage sur de la statistique descrption et la restitution
                        de celle-ci (reporting, tableau de bords) pour avoir une meilleur visibilité de votre activité et ainsi la piloté au mieux.

                    </p>
                </div>
            </div>

        </div>
        <div class="row justify-content-md-center">
            <div class="col-sm-12 col-lg-12 col mycol strategie">

                <div class="strat">
                    <h2 class="title">Stratégie </h2>
                    <p>
                        Microshop fonctionne sur la méthode agile comme toute les boites de consulting aujourd'hui mais on se sentait quand même obligé de le dire
                        Et comme le dire en une phrase ça ferais un peu léger, on va décrire se qu'est la méthode agile même s'il y a de grande chance quevous connaissiez déjà cette méthode.
                        ... Notre méthode agile propose de la flexibilité mêlé à une grande visibilité pour le client blablabla ... Elle reposesur 4 valeur principale.
                    </p>

                    <p> - Equipe</p>
                    <p> - Application</p>
                    <p> - Collaboration</p>
                    <p> - Acceptation du changement</p>

                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-4 col-lg-4 col centre-serv mycol">
                <h3 class="title">Centre de service </h3>
                <p>
                    Là encore nous allons vous présenter le principe d'un centre de service en donnant seuleument quelques mots clé
                    et biensur en donnant l'impression qu'on le fait de manière différente avec des particularités (alors qu'en fait pas vraiment). 
                    Nous proposons des services adaptés à toute notre clientèle au travers de dispositifs souple et transparent
                    permettant des résultats quantifiables et des engagements toujours tenus.
                </p>


            </div>
            <div class="col-sm-4 col-lg-4 col forfait mycol">
                <h3 class="title">Forfait </h3>
                <p>
                    Pour le forfait c'est pareil, voir même encore plus inutile à expliquer puisque ce service est encore plus utilisé en consulting.
                    Mais pas de panique on va quand même mettre quelques points clés et phrases bateaux. Nous prenons en charges vos projets de A à Z avec une garantis de résultats.
                    Cela passe par plusieurs étapes.
                </p>

                <p> - Définition de l'objectif<br>
                 - Dévellopement des livrables<br>
                 - Test et validation<br>
                 - Evolution et amélioration en continue</p>

            </div>
            <div class="col-sm-4 col-lg-4 col support mycol">
                <h3 class="title">Support </h3>
                <p>
                    Pour ce qui est du support cela peut aller du simple conseil sur de l'orientation de projet, à la formation en passant par
                    de l'accompagnement plus orienter sur le dévellopement. Cela peut être fait à distance ou sur site.
                    On rajoutera encore une information un peu particulière pour donner l'impression de l'originalité.

                </p>
            </div>
        </div>
    </div>

    <footer class="box end">
        <div class="mycontainer">
            <div class="row">
                <div class="cont-item col">
                    <nav>
                        <ul>
                            <li><a class="foot" href="default.html"> Accueil</a></li>
                            <li><a class="foot" href="qui_sommes_nous.html"> Qui sommes-nous</a></li>
                            <li><a class="foot" href="expertise.html"> Notre Expertise</a></li>
                            <li><a class="foot" href="actualites.html"> Actualités</a></li>
                            <li><a class="foot" href="nakama.html"> Nakama</a></li>
                            <li><a class="foot" href="contact.html"> Contacts</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="cont-item col">
                    <nav>
                        <ul>
                            <li><a class="foot" href="404.html"> Mention légal</a></li>
                            <li><a class="foot" href="404.html"> Gérer vos cookies</a></li>
                            <li><a class="foot" href="404.html"> Politique relative aux données personnel</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>