<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Lucas Plouvier</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="lucas_plouvier.css">
</head>
<body>

    <header>
        <div class="container">
            <nav>
                <img src="../../static/images_videos/logo_1_test.png" alt="Logo">
                <ul class="menu-bar">
                    <li><a href="default.html" class="menu"> Accueil</a></li>
                    <li><a href="" class="menu"> Qui sommes-nous</a></li>
                    <li><a href="" class="menu"> Carrière</a></li>
                    <li><a href="" class="menu"> Actualités</a></li>
                    <li><a href="nakama.html" class="menu"> Nakama</a></li>
                    <li><a href="" class="menu"> Contacts</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-sm-8 col ">
                <div class="imag">
                    <img src="../../static/images_videos/itachi.jpg" alt="itachi">
                </div>
                <div class="desc">
                    <p>
                        Plouvier Lucas blabla inutile histoire de décrire un peu la personne, ce qu'elle fait, ce qu'elle aime, ce qu'elle déteste, qui elle est en somme.
                        Plouvier Lucas blabla inutile histoire de décrire un peu la personne, ce qu'elle fait, ce qu'elle aime, ce qu'elle déteste, qui elle est en somme.
                        Plouvier Lucas blabla inutile histoire de décrire un peu la personne, ce qu'elle fait, ce qu'elle aime, ce qu'elle déteste, qui elle est en somme.
                        Plouvier Lucas blabla inutile histoire de décrire un peu la personne, ce qu'elle fait, ce qu'elle aime, ce qu'elle déteste, qui elle est en somme.
                        Plouvier Lucas blabla inutile histoire de décrire un peu la personne, ce qu'elle fait, ce qu'elle aime, ce qu'elle déteste, qui elle est en somme.
                    </p>

                </div>
            </div>
        </div>
    </div>

    <aside class="box side">
        <div id="side_">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-sm-8 col ">
                    <p class="truc">
                        Petit truc au choix de chacun, ça pourra être une image, une description, un jeu, un liste, des liens, un tableau.
                    </p>

                    <div class="imag">
                        <img src="../../static/images_videos/taff4.jpg" alt="image_taff" width="400">
                    </div>

                    <table>
                        <caption> Listing de jeu vidéo</caption>
                        <thead>
                            <tr>
                                <th>/</th>
                                <th>Genre</th>
                                <th>Prix</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Assassin's Creed</th>
                                <td>Action-Aventure</td>
                                <td>69.99€</td>
                            </tr>
                            <tr>
                                <th>Rocket League</th>
                                <td>Sport</td>
                                <td>24.99€</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </aside>


    <footer class="box end">
        <div class="mycontainer">
            <div class="row">
                <div class="cont-item col">
                    <nav>
                        <ul>
                            <li><a class="foot" href="default.html"> Accueil</a></li>
                            <li><a class="foot" href=""> Qui sommes-nous</a></li>
                            <li><a class="foot" href=""> Carrière</a></li>
                            <li><a class="foot" href=""> Rejoignez-nous</a></li>
                            <li><a class="foot" href=""> Actualités</a></li>
                            <li><a class="foot" href="nakama.html"> Nakama</a></li>
                            <li><a class="foot" href=""> Contacts</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="cont-item col">
                    <nav>
                        <ul>
                            <li><a class="foot" href=""> Mention légal</a></li>
                            <li><a class="foot" href=""> Gérer vos cookies</a></li>
                            <li><a class="foot" href=""> Politique relative aux données personnel</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </footer>


</body>
</html>