<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Qui Somme Nous</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/qui_sommes_nous.css">
</head>
<body>

    <header>
        <div class="container col colhead">
            <nav>
                <img src="../../static/images_videos/logo_1_test.png" alt="Logo">
                <ul class="menu-bar">
                    <li><a href="default.html" class="menu"> Accueil</a></li>
                    <li><a href="qui_sommes_nous.html" class="menu"> Qui sommes-nous</a></li>
                    <li><a href="expertise.html" class="menu"> Notre Expertise</a></li>
                    <li><a href="actualites.html" class="menu"> Actualités</a></li>
                    <li><a href="nakama.html" class="menu"> Nakama</a></li>
                    <li><a href="contact.html" class="menu"> Contacts</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row entreprise">
            <div class="col-sm-12 col-lg-12 mycol col ">
                <h2 class="title">Notre Entreprise </h2>
                <p>
                    Vous êtes sur le site de l'entreprise <strong>FICTIVE</strong> <strong>Microshop</strong>.
                    Cette entreprise n'as pour le moment aucun but si ce n'est parler de nous.
                    Il est née d'une blague entre amis. Vous retrouverez sur ce site ce qu'il peut y avoir
                    sur un site d'entreprise classique, même si je me suis laissé la liberté de mettre quelques extravagances.
                    Je n'ai pas un niveau exceptionnel en html/css et ne compte pas en avoir un. Ce site ne sera donc
                    clairement pas ce qui se fait de mieux. J'espère ela dit que vous l'apprécirez tout de même
                    et que vous pourrez apprendre à mieux nous connaitre à travers celui-ci. Je vous souhaite une bonne visite.
                </p>
            </div>
        </div>
        <div class="row valeurs">
            <div class="col-sm-12 col-lg-12 mycol col ">
                <h2 class="title">Nos Valeurs </h2>
            </div>
        </div>
        <div class="row valeurs">

            <div class="col-sm-3 col-lg-3 mycol col ">
                <h3 class="val_title">L'Excellence </h3>
                <div class="imag">
                    <img src="../../static/images_videos/excell.png" alt="excellence" width="200">
                </div>
                <p class="val">
                    Bien évidemment l'excellence. En effet comme toute entreprise qui se respect tout ce qu'on fait est excellent et nous visons en permanence l'excellence.
                    Qui voudrait d'une entreprise qui fait juste des choses "très bien" ?
                    Toutes les entreprises veulent être le leader de leur domaine.
                </p>
            </div>
            <div class="col-sm-3 col-lg-3 mycol col ">
                <h3 class="val_title" >L'Innovation </h3 >
                <div class="imag">
                    <img src="../../static/images_videos/innov.jpg" alt="innovation" width="300">
                </div>
                <p class="val"> Là encore, cela va de soit. Comme toute les entreprises nous sommes tourné vers le futurs et nous sommes toujours à la pointe de l'innovation.
                Nous recherchons et développons ce qui n'existe pas encore et qui sera dans quelques années utilisé par tous.
                En bon leader du secteur que nous sommes, nous sommes évidemment des visionnaires. </p>
            </div>
            <div class="col-sm-3 col-lg-3 mycol col ">
                <h3 class="val_title">La Convivialité </h3>
                <div class="imag">
                    <img src="../../static/images_videos/convi.png" alt="convivialité" width="200">
                </div>
                <p class="val">
                    Pour une grande entreprise comme la notre, il est essentielle qu'il fasse bon vivre au sein de celle-ci. Biensur cette valeur ne sera pas plus détaillé ici.
                    L'idée est de dire qu'on s'en préoccupe mais de ne pas dire comment, car dans les faits il n'y pas vraiment grands chose à faire.
                </p>
            </div>
            <div class="col-sm-3 col-lg-3 mycol col ">
                <h3 class="val_title">L'Engagement </h3>
                <div class="imag">
                    <img src="../../static/images_videos/eco_engage.png" alt="engagement" width="200">
                </div>
                <p class="val">
                    Celle-ci c'est un peu la valeurs joker qui peut aller partout. En effet, l'engagement ça reste très flou. Ca peut être un engagement écologique, un engagement vis-à-vis de nos clients
                    ou encore un engagement vis-à-vis des collaborateurs. En sommes, on est engagé et c'est bien.
                </p>
            </div>
        </div>
        <div class="row chiffres">
            <div class="col-sm-12 col-lg-12 mycol col ">
                <h3 class="title">Quelques chiffres </h3>
            </div>
        </div>
        <div class="row chiffres">
            <div class="col-sm-3 col-lg-3 mycol col ">
                <h3 class="chiffre"> 5M€</h3>
                <p> CA de 2020 </p>
            </div>
            <div class="col-sm-3 col-lg-3 mycol col ">
                <h3 class="chiffre"> 27 ans</h3>
                <p> moyenne d'age </p>
            </div>
            <div class="col-sm-3 col-lg-3 mycol col ">
                <h3 class="chiffre"> 40</h3>
                <p > Collaborateurs </p>
            </div>
            <div class="col-sm-3 col-lg-3 mycol col ">
                <h3 class="chiffre"> 5</h3>
                <p> Implémentations </p>
            </div>
        </div>
        <div class="row historique">
            <div class="col-sm-12 col-lg-12 mycol col ">
                <h3 class="title">Historique </h3>
                <div class="imag">
                    <img src="../../static/images_videos/taff.jpg" alt="image d'historique" width="350">
                </div>
            </div>
        </div>
    </div>

	<footer class=" end">
		<div class="mycontainer">
			<div class="row">
				<div class="cont-item col">
					<nav>
						<ul>
							<li><a class = "foot" href="default.html"> Accueil</a></li>
							<li><a class = "foot" href="qui_sommes_nous.html"> Qui sommes-nous</a></li>
							<li><a class="foot" href="expertise.html"> Notre Expertise</a></li>
							<li><a class = "foot" href="actualites.html"> Actualités</a></li>
							<li><a class = "foot" href="nakama.html"> Nakama</a></li>
							<li><a class = "foot" href="contact.html"> Contacts</a></li>
						</ul>
					</nav>
				</div>

				<div class="cont-item col">
					<nav>
						<ul>
							<li><a class = "foot" href="404.html"> Mention légal</a></li>
							<li><a class = "foot" href="404.html"> Gérer vos cookies</a></li>
							<li><a class = "foot" href="404.html"> Politique relative aux données personnel</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</footer>



</body>
</html>