<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>modele_box_av</title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/default1.css')}}">
</head>
<body>

	<header>

		<img src="{{url_for('static',filename='images_videos/logo_1.png')}}" alt="Logo">
		
		<nav>
			<ul class="menu-bar">
				<li> Accueil</li>
				<li> Qui sommes-nous</li>
				<li> Carrière</li>
				<li> Actualités</li>
				<li> Nakama</li>
				<li> Contacts</li>
			</ul>
		</nav>
	</header>
	
	{% block body %}{% endblock %}

</body>
</html>