
body {
    margin: auto;
    width: 100%;
    background-image: url("../../static/images_videos/purple10.jpg");
    background-size: cover;
    background-attachment: fixed;
    /*border: 3px solid #303030;*/

}

.colhead {
    margin-top: 0px;
    display: grid;
    place-items: center;
}


header {
    align-content: center;
    background-image: url("../../static/images_videos/purple.jpg");
    background-size: cover;
    background-attachment: fixed;
}


nav {
    width: fit-content;
    align-text: center;
    color: #303030;
}

.menu-bar {
    height: fit-content;
    display: inline-flex;
    background-color: rgba(, 0, 0, .4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-items: center;
    position: center;    
    z-index: 1;
    /*top: 50px;*/
    border-radius: 25px;
    margin: auto;
    color: #303030;
    border: 3px solid #303030;
    width: fit-content;
}



li {
    list-style: none;
    color: #303030;
    font-family: sans-serif;
    font-weight: bold;
    padding: 12px 16px;
    margin: 0 8px;
    position: relative;
    width: 100%;
    cursor: pointer;
    white-space: nowrap;
    &::before

{
    content: " ";
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: .2s;
    border-radius: 25px;
}

}



ul {
    /*border: 2px solid rgb(155,12,230);*/
    margin: 0px;
    color: #303030;
}

a.menu {
    color: #303030;
    text-decoration: inherit;
}




.mycontainer {
    display: flex;
    height: fit-content;
    width: fit-content;
    margin: auto;
    flex-direction: row;
    align-items: stretch;
    color: #303030;
}


.container-fluid {
    /*border: 2px solid blue;*/
    position: center;
    width: 100%;
    align-items: stretch;
}




.mycol {
    /*border: 2px solid #663399;*/
    height: fit-contents;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
}




h1, h2 {
    color: #FFF;
    font-family: 'Lucida Calligraphy', sans-serif;
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 2px 5px #663399;
}

a.foot {
    color: #FFF;
    text-decoration: inherit;
}

.end {
    background-image: url("../../static/images_videos/footer4.jpg");
    background-attachment: fixed;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.cont-item {
    display: grid;
    place-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
    height: fit-contents;
    text-align: center;
    /*border: 2px solid #663399;*/
}
