
body {
    margin: auto;
    width: 100%;
    /*border: 3px solid #303030;*/
    background-color: #303030;
}



nav {
    width: fit-content;
    align-text: center;
    color: #303030;
}

.menu-bar {
    height: fit-content;
    display: inline-flex;
    background-color: rgba(, 0, 0, .4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-items: center;
    position: center;
    z-index: 1;
    top: 50px;
    border-radius: 25px;
    margin: auto;
    color: #303030;
    border: 3px solid #303030;
    width: fit-content;
}



li {
    list-style: none;
    color: #303030;
    font-family: sans-serif;
    font-weight: bold;
    padding: 12px 16px;
    margin: 0 8px;
    position: relative;
    width: 100%;
    cursor: pointer;
    white-space: nowrap;
    &::before

{
    content: " ";
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: .2s;
    border-radius: 25px;
}

}



ul {
    /*border: 2px solid rgb(155,12,230);*/
    margin: 0px;
    color: #303030;
}



.end {
    background-image: url("../../static/images_videos/footer4.jpg");
    background-attachment: fixed;
}


.mycontainer {
    display: flex;
    height: fit-content;
    width: fit-content;
    margin: auto;
    flex-direction: row;
    align-items: stretch;
    color: #303030;
}



header {
    align-content: center;
    background-image: url("../../static/images_videos/purple.jpg");
    background-size: cover;
    background-attachment: fixed;
}


a.foot {
    color: #FFF;
    text-decoration: inherit;
}

a.menu {
    color: #303030;
    text-decoration: inherit;
}


.container-fluid {
    margin-top: 60px;
/*    background-color: #303030;*/
    height: fit-contents;
    /*border: 2px solid blue;*/
    position: center;
    width: 100%;
    align-items: center;
    text-align:center;
    color:#FFF;
}



.mycol {
    /*border: 2px solid #663399;*/
    height: fit-contents;
    margin-top: 30px;
    display: grid;
    place-items: center;
    margin-bottom: 15px;
    text-align: center;
}

.colhead {
    /*border: 2px solid #663399;*/
    height: fit-contents;
    display: grid;
    place-items: center;
    margin-bottom: 15px;
    text-align: center;
}

.desc {
    max-width: 300px;
    height:180px;
    /*border: 2px solid green;*/
    text-align: center;
}

.blocks {
    /*border: 1px solid #FFF;*/
    background-color: #663399;
    color: #FFF;
    display: grid;
    place-items: center;
}

.imag {

    width: fit-content;
    height: fit-content;
    /*border: solid 2px red;*/
    position: center;
}

.cont-item {
    margin-top: 30px;
    display: grid;
    place-items: center;
    margin-bottom: 15px;
    height: fit-contents;
    text-align: center;
    /*border: 2px solid #663399;*/
}


