body {
    margin: auto;
    width: 100%;
    /*border: 3px solid #303030;*/
    background-image: url("../../static/images_videos/wall1.png");
    background-attachment: fixed;
    background-size: cover;
}

.mycol {
    display: grid;
    place-items: center;
    /*border: 2px solid #663399;*/
    text-align: center;
    height: fit-contents;
    margin-top: 40px;
    padding: 5px;

}


nav {
    width: fit-content;
    align-text: center;
    color: #303030;
}



.menu-bar {
    height: fit-content;
    display: inline-flex;
    background-color: rgba(, 0, 0, .4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-items: center;
    position: center;
    z-index: 1;
    top: 50px;
    border-radius: 25px;
    margin: auto;
    color: #303030;
    border: 3px solid #303030;
    width: fit-content;
}



li {
    list-style: none;
    color: #303030;
    font-family: sans-serif;
    font-weight: bold;
    padding: 12px 16px;
    margin: 0 8px;
    position: relative;
    width: 100%;
    cursor: pointer;
    white-space: nowrap;
    &::before

{
    content: " ";
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: .2s;
    border-radius: 25px;
}

}

ul {
    /*border: 2px solid rgb(155,12,230);*/
    margin: 0px;
    color: #303030;
}

a.foot {
    color: #FFF;
    text-decoration: inherit;
}

a.menu {
    color: #303030;
    text-decoration: inherit;
}

p {
    font-size: 20px;
    font-family: Calibri;
    color: #FFF;
    line-height: 20px;
}


header {
    align-content: center;
    background-image: url("../../static/images_videos/purple.jpg");
    background-size: cover;
    background-attachment: fixed;
}





.val {
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    font-family:'HP Simplified', sans-serif;
}

.title{
    color: #FFF;
    font-family: 'Impact', sans-serif;
    text-align: center;
}

.val_title {
    color: #FFF;
    font-family: 'Impact', sans-serif;
    font-size: 50px;
}

.chiffre {
    color: #FFF;
    font-size: 60px;
    font-family: 'HP Simplified', sans-serif;
}

.container-fluid {
    margin-top: 60px;
    height: fit-contents;
    /*border: 2px solid blue;*/
    position: center;
    width: 100%;
    align-items: stretch;
}

.end {
    background-image: url("../../static/images_videos/footer4.jpg");
    background-attachment: fixed;
}

.mycontainer {
    display: flex;
    height: fit-content;
    width: fit-content;
    margin: auto;
    flex-direction: row;
    align-items: stretch;
    color: #303030;
}


.colhead {
    display: grid;
    place-items: center;
    /*border: 2px solid #663399;*/
    text-align: center;
    height: fit-contents;
}

.imag {
    padding: 5px;
    text-align: center;
    /*border: solid 2px red;*/
    position: center;
}

.cont-item {
    display: grid;
    place-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
    height: fit-contents;
    text-align: center;
    /*border: 2px solid #663399;*/
}
